.todo-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo-items {
  width: 100%;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  margin: 10px;
  margin-bottom: 20px;
}

.row {
  margin: 10px 4px;
  width: 100%;
  border-bottom: 2px solid #ccc;
  padding-bottom: 5px;
}

button {
  min-width: 80px;
}

.msg {
  font-size: 18px;
  font-weight: 900;
  color: #000;
}
