.menu {
  width: 80%;
  text-align: center;
  left: -100%;
  position: fixed;
  list-style: none;
  background-color: yellow;
  transition: 0.5s;
  height: 100%;
}

.activemenu {
  left: 0%;
}

.menu ul li {
  list-style: none;
  padding: 10px 0px;
}

.micon {
  position: absolute;
  right: 10px;
}
